<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
     <context:component-scan base-package="com.mrlu.spring.dao3"></context:component-scan>
     <bean id="school1" class="com.mrlu.spring.dao3.School">
          <property name="name" value="人大"></property>
          <property name="address" value="北京"></property>
     </bean>
</beans>