<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--加入这里是学生模块的配置文件-->
    <bean id="student" class="com.mrlu.spring.dao5.Student" autowire="byType">
        <property name="name" value="jack"></property>
        <property name="age" value="18"></property>
        <!--<property name="school" ref="school"></property>-->
    </bean>
</beans>